<a href="https://colab.research.google.com/github/ErnestDannielTiston/CPEN-21A-CPE-1-2/blob/main/Loop_Statement_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [13]:
for x in week:
  print(0)

0
0
0
0
0
0
0

##Break Statement

In [9]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [11]:
#break statement
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

##Looping through a String

In [12]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

##The range() function

In [14]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

##Nested loops

In [15]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loops

In [25]:
i = 10
while i>6:
  print(i)
  i-=1    #Assignment operator for substraction, i =  i - 1

10
9
8
7

#The Break Statement

In [30]:
i = 10
while i>6:
  print(i)
  if i==8:
    break
  i-=1

10
9
8

#The continue Statement

In [33]:
i = 10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)

9
7
6

##The else statement

In [36]:
i = 10
while i>6:
  i = i-1
  print(i)
else:
  print("i is no longer greater than 6")

9
8
7
6
i is no longer greater than 6

Application 1

In [44]:
x= 0       #for value
while x<=10:
  print("Value", x)
  x+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [45]:
value = ["Value 0", "Value 1", "Value 2", "Value 3", "Value 4", "Value 6", "Value 7", "Value 8", "Value 9", "Value 10"]

for x in value:
  print (x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 6
Value 7
Value 8
Value 9
Value 10

Application 2

In [43]:
i = 20
while i>4:
   i = i-1
   print(i)
else:
  print("i is no longer greater than 3")

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
i is no longer greater than 3